<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Reservas{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<body>
    <header>
        <h1>Reservas de Turnos</h1>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <script src="{% static 'js/scripts.js' %}"></script>
    <script>
        function mostrarConfirmacion(turnoId) {
            document.getElementById("confirm-modal-" + turnoId).style.display = "flex";
        }

        function cerrarConfirmacion(turnoId) {
            document.getElementById("confirm-modal-" + turnoId).style.display = "none";
        }
    </script>

</body>
</html>
