{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Reserva tu turno</h2>

{% if mensaje %}
    <div class="alert {% if 'éxito' in mensaje %}alert-success{% else %}alert-error{% endif %}">
        {{ mensaje }}
    </div>

    {% if "éxito" in mensaje %}
        <div>
            <a href="{% url 'reservar_turno' %}">
                <button>Reservar otro turno</button>
            </a>
            <a href="{% url 'mis_turnos' %}">
                <button>Ver mis turnos</button>
            </a>
        </div>
    {% endif %}
{% endif %}


<form method="post">
    {% csrf_token %}
    <label for="fecha">Fecha:</label>
    <input type="text" id="fecha" name="fecha" placeholder="Selecciona una fecha">

    <label for="hora">Hora:</label>
    <select name="hora">
        <option value="09:00">09:00</option>
        <option value="10:00">10:00</option>
        <option value="11:00">11:00</option>
        <option value="15:00">15:00</option>
        <option value="16:00">16:00</option>
        <option value="17:00">17:00</option>
        <option value="18:00">18:00</option>
        <option value="19:00">19:00</option>
    </select>

    <button type="submit">Reservar Turno</button>
</form>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    flatpickr("#fecha", {
        minDate: "today",
        dateFormat: "Y-m-d"
    });
</script>

{% endblock %}
